*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url("https://user-images.githubusercontent.com/119074965/206849016-a5fb78f5-25ad-45b5-827c-63e054b56595.jpg")  ;
	
}

.container{
	
	position: absolute;
	color: whitesmoke;
	top: 30%;
	left: 40%;
}

.container h1{
	font-style:200px ;
	font-size: 50px;
	border-bottom: 5px solid green;
	margin-bottom: 25px;
}

.box input{
	background: none;
	font-style: black;
	border: none;
	margin: 10px;
	font-size: 33px;
	border-bottom: 2px solid green;
	line-height: 6px;

}

.box i{
	width: 25px;
}
.box button{
	border-radius: 3px;
	border-color: green;
	background: none;
	font-size: 20px;
	margin: 2px 20px;
    border-radius: 10px;
}